.anim-slow          {animation-duration: 2s;}
.anim-normal-speed  {animation-duration: 1s;}
.anim-fast          {animation-duration: 0.5s;}
.anim-instant       {animation-duration: 0s;}

.anim-ease        {animation-timing-function: ease;}
.anim-ease-in     {animation-timing-function: ease-in;}
.anim-ease-out    {animation-timing-function: ease-out;}
.anim-ease-in-out {animation-timing-function: ease-in-out;}
.anim-linear      {animation-timing-function: linear;}

.anim-repeat-2 {animation-iteration-count: 2;}
.anim-infinite {animation-iteration-count: infinite;}

.anim-normal     {animation-direction: normal;}
.anim-reverse    {animation-direction: reverse;}
.anim-alternate  {animation-direction: alternate;}
.anim-ralternate {animation-direction: alternate-reverse;}

.anim-stay {animation-fill-mode: forwards;}

.anim-play  {animation-play-state: running;}
.anim-pause {animation-play-state: paused;}

.anim-fill         {animation: fill;}
.anim-fill-x       {animation-name: fill-x;}
.anim-fill-y       {animation-name: fill-y;}
.anim-fade         {animation-name: fade;}
.anim-rotation-360 {animation-name: rotation-360;}
.anim-bounce       {animation-name: bounce;}

@keyframes fill {
    from {
        margin:  0;
        border:  0;
        padding: 0;
        width:   0;
        height:  0;
    }
    to {
        width:   100%;
        height:  100%;
    }
}

@keyframes fill-x {
    from {
        margin-left:   0;
        margin-right:  0;
        border-left:   0;
        border-right:  0;
        padding-left:  0;
        padding-right: 0;
        width:         0;
    }
    to {width: 100%;}
}

@keyframes fill-y {
    from {
        margin-top:     0;
        margin-bottom:  0;
        border-top:     0;
        border-bottom:  0;
        padding-top:    0;
        padding-bottom: 0;
        height:         0;
    }
    to {height: 100%;}
}

@keyframes fill-c {
    from {
        width:  0;
        height: 0;
    }
    to {
        width:  100%;
        height: 100%;
    }
}

@keyframes fill-c-x {
    from {width: 0;}
    to   {width: 100%;}
}

@keyframes fill-c-y {
    from {height: 0;}
    to   {height: 100%;}
}

@keyframes fade {
    from {opacity: 1;}
    to   {opacity: 0;}
}

@keyframes rotation-360 {
    from {transform: rotate(0);}
    to   {transform: rotate(360deg);}
}

@keyframes bounce {
    0%   {transform: scale(1, 1);}
    50%  {transform: scale(1.2, 1.2);}
    100% {transform: scale(1, 1);}
}