.bd-black   {border-color: var(--black);}
.bd-blue    {border-color: var(--blue);}
.bd-brown   {border-color: var(--brown);}
.bd-cyan    {border-color: var(--cyan);}
.bd-green   {border-color: var(--green);}
.bd-grey    {border-color: var(--grey);}
.bd-magenta {border-color: var(--magenta);}
.bd-orange  {border-color: var(--orange);}
.bd-pink    {border-color: var(--pink);}
.bd-purple  {border-color: var(--purple);}
.bd-red     {border-color: var(--red);}
.bd-salmon  {border-color: var(--salmon);}
.bd-slate   {border-color: var(--slate);}
.bd-white   {border-color: var(--white);}
.bd-yellow  {border-color: var(--yellow);}
.bd-dark-blue  {border-color: var(--dark-blue);}
.bd-dark-cyan  {border-color: var(--dark-cyan);}
.bd-dark-green {border-color: var(--dark-green);}
.bd-dark-grey  {border-color: var(--dark-grey);}
.bd-light-blue   {border-color: var(--light-blue);}
.bd-light-green  {border-color: var(--light-green);}
.bd-light-grey   {border-color: var(--light-grey);}
.bd-light-purple {border-color: var(--light-purple);}

.outl-black   {outline-color: var(--black);}
.outl-blue    {outline-color: var(--blue);}
.outl-brown   {outline-color: var(--brown);}
.outl-cyan    {outline-color: var(--cyan);}
.outl-green   {outline-color: var(--green);}
.outl-grey    {outline-color: var(--grey);}
.outl-magenta {outline-color: var(--magenta);}
.outl-orange  {outline-color: var(--orange);}
.outl-pink    {outline-color: var(--pink);}
.outl-purple  {outline-color: var(--purple);}
.outl-red     {outline-color: var(--red);}
.outl-salmon  {outline-color: var(--salmon);}
.outl-slate   {outline-color: var(--slate);}
.outl-white   {outline-color: var(--white);}
.outl-yellow  {outline-color: var(--yellow);}
.outl-dark-blue  {outline-color: var(--dark-blue);}
.outl-dark-cyan  {outline-color: var(--dark-cyan);}
.outl-dark-green {outline-color: var(--dark-green);}
.outl-dark-grey  {outline-color: var(--dark-grey);}
.outl-light-blue   {outline-color: var(--light-blue);}
.outl-light-green  {outline-color: var(--light-green);}
.outl-light-grey   {outline-color: var(--light-grey);}
.outl-light-purple {outline-color: var(--light-purple);}

.bg-black   {background-color: var(--black);}
.bg-blue    {background-color: var(--blue);}
.bg-brown   {background-color: var(--brown);}
.bg-cyan    {background-color: var(--cyan);}
.bg-green   {background-color: var(--green);}
.bg-grey    {background-color: var(--grey);}
.bg-magenta {background-color: var(--magenta);}
.bg-orange  {background-color: var(--orange);}
.bg-pink    {background-color: var(--pink);}
.bg-purple  {background-color: var(--purple);}
.bg-red     {background-color: var(--red);}
.bg-salmon  {background-color: var(--salmon);}
.bg-slate   {background-color: var(--slate);}
.bg-white   {background-color: var(--white);}
.bg-yellow  {background-color: var(--yellow);}
.bg-dark-blue  {background-color: var(--dark-blue);}
.bg-dark-cyan  {background-color: var(--dark-cyan);}
.bg-dark-green {background-color: var(--dark-green);}
.bg-dark-grey  {background-color: var(--dark-grey);}
.bg-light-blue   {background-color: var(--light-blue);}
.bg-light-green  {background-color: var(--light-green);}
.bg-light-grey   {background-color: var(--light-grey);}
.bg-light-purple {background-color: var(--light-purple);}

.txt-black   {color: var(--black);}
.txt-blue    {color: var(--blue);}
.txt-brown   {color: var(--brown);}
.txt-cyan    {color: var(--cyan);}
.txt-green   {color: var(--green);}
.txt-grey    {color: var(--grey);}
.txt-magenta {color: var(--magenta);}
.txt-orange  {color: var(--orange);}
.txt-pink    {color: var(--pink);}
.txt-purple  {color: var(--purple);}
.txt-red     {color: var(--red);}
.txt-salmon  {color: var(--salmon);}
.txt-slate   {color: var(--slate);}
.txt-white   {color: var(--white);}
.txt-yellow  {color: var(--yellow);}
.txt-dark-blue  {color: var(--dark-blue);}
.txt-dark-cyan  {color: var(--dark-cyan);}
.txt-dark-green {color: var(--dark-green);}
.txt-dark-grey  {color: var(--dark-grey);}
.txt-light-blue   {color: var(--light-blue);}
.txt-light-green  {color: var(--light-green);}
.txt-light-grey   {color: var(--light-grey);}
.txt-light-purple {color: var(--light-purple);}

.txt-deco-black   {text-decoration-color: var(--black);}
.txt-deco-blue    {text-decoration-color: var(--blue);}
.txt-deco-brown   {text-decoration-color: var(--brown);}
.txt-deco-cyan    {text-decoration-color: var(--cyan);}
.txt-deco-green   {text-decoration-color: var(--green);}
.txt-deco-grey    {text-decoration-color: var(--grey);}
.txt-deco-magenta {text-decoration-color: var(--magenta);}
.txt-deco-orange  {text-decoration-color: var(--orange);}
.txt-deco-pink    {text-decoration-color: var(--pink);}
.txt-deco-purple  {text-decoration-color: var(--purple);}
.txt-deco-red     {text-decoration-color: var(--red);}
.txt-deco-salmon  {text-decoration-color: var(--salmon);}
.txt-deco-slate   {text-decoration-color: var(--slate);}
.txt-deco-white   {text-decoration-color: var(--white);}
.txt-deco-yellow  {text-decoration-color: var(--yellow);}
.txt-deco-dark-blue  {text-decoration-color: var(--dark-blue);}
.txt-deco-dark-cyan  {text-decoration-color: var(--dark-cyan);}
.txt-deco-dark-green {text-decoration-color: var(--dark-green);}
.txt-deco-dark-grey  {text-decoration-color: var(--dark-grey);}
.txt-deco-light-blue   {text-decoration-color: var(--light-blue);}
.txt-deco-light-green  {text-decoration-color: var(--light-green);}
.txt-deco-light-grey   {text-decoration-color: var(--light-grey);}
.txt-deco-light-purple {text-decoration-color: var(--light-purple);}

.txt-cursor-black   {caret-color: var(--black);}
.txt-cursor-blue    {caret-color: var(--blue);}
.txt-cursor-brown   {caret-color: var(--brown);}
.txt-cursor-cyan    {caret-color: var(--cyan);}
.txt-cursor-green   {caret-color: var(--green);}
.txt-cursor-grey    {caret-color: var(--grey);}
.txt-cursor-magenta {caret-color: var(--magenta);}
.txt-cursor-orange  {caret-color: var(--orange);}
.txt-cursor-pink    {caret-color: var(--pink);}
.txt-cursor-purple  {caret-color: var(--purple);}
.txt-cursor-red     {caret-color: var(--red);}
.txt-cursor-salmon  {caret-color: var(--salmon);}
.txt-cursor-slate   {caret-color: var(--slate);}
.txt-cursor-white   {caret-color: var(--white);}
.txt-cursor-yellow  {caret-color: var(--yellow);}
.txt-cursor-dark-blue  {caret-color: var(--dark-blue);}
.txt-cursor-dark-cyan  {caret-color: var(--dark-cyan);}
.txt-cursor-dark-green {caret-color: var(--dark-green);}
.txt-cursor-dark-grey  {caret-color: var(--dark-grey);}
.txt-cursor-light-blue   {caret-color: var(--light-blue);}
.txt-cursor-light-green  {caret-color: var(--light-green);}
.txt-cursor-light-grey   {caret-color: var(--light-grey);}
.txt-cursor-light-purple {caret-color: var(--light-purple);}