.list-mark-none                  {list-style-type: none;}
.list-mark-disc                  {list-style-type: disc;}
.list-mark-circle                {list-style-type: circle;}
.list-mark-square                {list-style-type: square;}
.list-mark-decimal               {list-style-type: decimal;}
.list-mark-decimal-zero          {list-style-type: decimal-leading-zero;}
.list-mark-open                  {list-style-type: disclosure-open;}
.list-mark-closed                {list-style-type: disclosure-closed;}
.list-mark-alpha-lower           {list-style-type: lower-alpha;}
.list-mark-alpha-upper           {list-style-type: upper-alpha;}
.list-mark-arabic                {list-style-type: arabic-indic;}
.list-mark-armenian              {list-style-type: armenian;}
.list-mark-armenian-lower        {list-style-type: lower-armenian;}
.list-mark-armenian-upper        {list-style-type: upper-armenian;}
.list-mark-bengali               {list-style-type: bengali;}
.list-mark-cambodian             {list-style-type: cambodian;}
.list-mark-chinese-simp-formal   {list-style-type: simp-chinese-formal;}
.list-mark-chinese-simp-informal {list-style-type: simp-chinese-informal;}
.list-mark-chinese-trad-formal   {list-style-type: trad-chinese-formal;}
.list-mark-chinese-trad-informal {list-style-type: trad-chinese-informal;}
.list-mark-devanagari            {list-style-type: devanagari;}
.list-mark-ethiopic              {list-style-type: ethiopic-numeric;}
.list-mark-georgian              {list-style-type: georgian;}
.list-mark-greek                 {list-style-type: lower-greek;}
.list-mark-gujarati              {list-style-type: gujarati;}
.list-mark-gurmukhi              {list-style-type: gurmukhi;}
.list-mark-han                   {list-style-type: cjk-decimal;}
.list-mark-han-earthly           {list-style-type: cjk-earthly-branch;}
.list-mark-han-heavenly          {list-style-type: cjk-heavenly-stem;}
.list-mark-hebrew                {list-style-type: hebrew;}
.list-mark-hiragana              {list-style-type: hiragana;}
.list-mark-hiragana-iroha        {list-style-type: hiragana-iroha;}
.list-mark-devanagari            {list-style-type: devanagari;}
.list-mark-japanese-formal       {list-style-type: japanese-formal;}
.list-mark-japanese-informal     {list-style-type: japanese-informal;}
.list-mark-kannada               {list-style-type: kannada;}
.list-mark-katakana              {list-style-type: katakana;}
.list-mark-katakana-iroha        {list-style-type: katakana-iroha;}
.list-mark-korean-hangul         {list-style-type: korean-hangul-formal;}
.list-mark-korean-hanja-formal   {list-style-type: korean-hanja-formal;}
.list-mark-korean-hanja-informal {list-style-type: korean-hanja-informal;}
.list-mark-lao                   {list-style-type: lao;}
.list-mark-malayalam             {list-style-type: malayalam;}
.list-mark-mongolian             {list-style-type: mongolian;}
.list-mark-myanmar               {list-style-type: myanmar;}
.list-mark-oriya                 {list-style-type: oriya;}
.list-mark-persian               {list-style-type: persian;}
.list-mark-roman-lower           {list-style-type: lower-roman;}
.list-mark-roman-upper           {list-style-type: upper-roman;}
.list-mark-tamil                 {list-style-type: tamil;}
.list-mark-telugu                {list-style-type: telugu;}
.list-mark-thai                  {list-style-type: thai;}
.list-mark-tibetan               {list-style-type: tibetan;}

.list-pos-in  {list-style-position: inside;}
.list-pos-out {list-style-position: outside;}