.mg-xs {margin: var(--margin-xs);}
.mg-sm {margin: var(--margin-sm);}
.mg-md {margin: var(--margin-md);}
.mg-lg {margin: var(--margin-lg);}
.mg-xl {margin: var(--margin-xl);}

.mg-t-xs {margin-top: var(--margin-xs);}
.mg-t-sm {margin-top: var(--margin-sm);}
.mg-t-md {margin-top: var(--margin-md);}
.mg-t-lg {margin-top: var(--margin-lg);}
.mg-t-xl {margin-top: var(--margin-xl);}

.mg-b-xs {margin-bottom: var(--margin-xs);}
.mg-b-sm {margin-bottom: var(--margin-sm);}
.mg-b-md {margin-bottom: var(--margin-md);}
.mg-b-lg {margin-bottom: var(--margin-lg);}
.mg-b-xl {margin-bottom: var(--margin-xl);}

.mg-l-xs {margin-left: var(--margin-xs);}
.mg-l-sm {margin-left: var(--margin-sm);}
.mg-l-md {margin-left: var(--margin-md);}
.mg-l-lg {margin-left: var(--margin-lg);}
.mg-l-xl {margin-left: var(--margin-xl);}

.mg-r-xs {margin-right: var(--margin-xs);}
.mg-r-sm {margin-right: var(--margin-sm);}
.mg-r-md {margin-right: var(--margin-md);}
.mg-r-lg {margin-right: var(--margin-lg);}
.mg-r-xl {margin-right: var(--margin-xl);}

.pd-xs {padding: var(--padding-xs);}
.pd-sm {padding: var(--padding-sm);}
.pd-md {padding: var(--padding-md);}
.pd-lg {padding: var(--padding-lg);}
.pd-xl {padding: var(--padding-xl);}

.pd-t-xs {padding-top: var(--padding-xs);}
.pd-t-sm {padding-top: var(--padding-sm);}
.pd-t-md {padding-top: var(--padding-md);}
.pd-t-lg {padding-top: var(--padding-lg);}
.pd-t-xl {padding-top: var(--padding-xl);}

.pd-b-xs {padding-bottom: var(--padding-xs);}
.pd-b-sm {padding-bottom: var(--padding-sm);}
.pd-b-md {padding-bottom: var(--padding-md);}
.pd-b-lg {padding-bottom: var(--padding-lg);}
.pd-b-xl {padding-bottom: var(--padding-xl);}

.pd-l-xs {padding-left: var(--padding-xs);}
.pd-l-sm {padding-left: var(--padding-sm);}
.pd-l-md {padding-left: var(--padding-md);}
.pd-l-lg {padding-left: var(--padding-lg);}
.pd-l-xl {padding-left: var(--padding-xl);}

.pd-r-xs {padding-right: var(--padding-xs);}
.pd-r-sm {padding-right: var(--padding-sm);}
.pd-r-md {padding-right: var(--padding-md);}
.pd-r-lg {padding-right: var(--padding-lg);}
.pd-r-xl {padding-right: var(--padding-xl);}