.caption-t {caption-side: top;}
.caption-b {caption-side: bottom;}

.show-empty-cells {empty-cells: show;}
.hide-empty-cells {empty-cells: hide;}

.bd-collapse {border-collapse: collapse;}
.bd-separate {border-collapse: separate;}

.bd-spacing-none {border-spacing: 0;}
.bd-spacing-xs   {border-spacing: var(--table-gap-xs);}
.bd-spacing-sm   {border-spacing: var(--table-gap-sm);}
.bd-spacing-md   {border-spacing: var(--table-gap-md);}
.bd-spacing-lg   {border-spacing: var(--table-gap-lg);}
.bd-spacing-xl   {border-spacing: var(--table-gap-xl);}