.fs-xs {font-size: var(--font-size-xs);}
.fs-sm {font-size: var(--font-size-sm);}
.fs-md {font-size: var(--font-size-md);}
.fs-lg {font-size: var(--font-size-lg);}
.fs-xl {font-size: var(--font-size-xl);}

.spacing-rxl    {letter-spacing: calc(-1 * var(--letter-spacing-xl));}
.spacing-rlg    {letter-spacing: calc(-1 * var(--letter-spacing-lg));}
.spacing-rmd    {letter-spacing: calc(-1 * var(--letter-spacing-md));}
.spacing-rsm    {letter-spacing: calc(-1 * var(--letter-spacing-sm));}
.spacing-rxs    {letter-spacing: calc(-1 * var(--letter-spacing-xs));}
.spacing-normal {letter-spacing: 0px;}
.spacing-xs     {letter-spacing: var(--letter-spacing-xs);}
.spacing-sm     {letter-spacing: var(--letter-spacing-sm);}
.spacing-md     {letter-spacing: var(--letter-spacing-md);}
.spacing-lg     {letter-spacing: var(--letter-spacing-lg);}
.spacing-xl     {letter-spacing: var(--letter-spacing-xl);}

.w-spacing-normal {word-spacing: 0px;}
.w-spacing-xs     {word-spacing: var(--word-spacing-xs);}
.w-spacing-sm     {word-spacing: var(--word-spacing-sm);}
.w-spacing-md     {word-spacing: var(--word-spacing-md);}
.w-spacing-lg     {word-spacing: var(--word-spacing-lg);}
.w-spacing-xl     {word-spacing: var(--word-spacing-xl);}

.light  {font-weight: lighter;}
.bold   {font-weight: bold;}
.x-bold {font-weight: bolder;}

.italic {font-style: italic;}

.txt-deco-none        {text-decoration-line: none;}
.txt-deco-underline   {text-decoration-line: underline;}
.txt-deco-overline    {text-decoration-line: overline;}
.txt-deco-throughline {text-decoration-line: line-through;}

.txt-deco-solid  {text-decoration-style: solid;}
.txt-deco-double {text-decoration-style: double;}
.txt-deco-dotted {text-decoration-style: dotted;}
.txt-deco-dashed {text-decoration-style: dashed;}
.txt-deco-wavy   {text-decoration-style: wavy;}

.txt-transform-none {text-transform: none;}
.txt-capitalize     {text-transform: capitalize;}
.txt-uppercase      {text-transform: uppercase;}
.txt-lowercase      {text-transform: lowercase;}
.txt-full-width     {text-transform: full-width;}

.txt-algn-s {text-align: start;}
.txt-algn-c {text-align: center;}
.txt-algn-e {text-align: end;}
.txt-algn-j {text-align: justify;}

.txt-indent {text-indent: 25%;}

.txt-overflow-clip     {text-overflow: clip;}
.txt-overflow-ellipsis {text-overflow: ellipsis;}

.txt-shadow-xs {text-shadow: var(--text-shadow-xs) var(--text-shadow-xs) var(--text-shadow-blur) var(--black);}
.txt-shadow-sm {text-shadow: var(--text-shadow-sm) var(--text-shadow-sm) var(--text-shadow-blur) var(--black);}
.txt-shadow-md {text-shadow: var(--text-shadow-md) var(--text-shadow-md) var(--text-shadow-blur) var(--black);}
.txt-shadow-lg {text-shadow: var(--text-shadow-lg) var(--text-shadow-lg) var(--text-shadow-blur) var(--black);}
.txt-shadow-xl {text-shadow: var(--text-shadow-xl) var(--text-shadow-xl) var(--text-shadow-blur) var(--black);}

.txt-htb {writing-mode: horizontal-tb;}
.txt-vlr {writing-mode: vertical-lr;}
.txt-vrl {writing-mode: vertical-rl;}

.txt-tab-xs {tab-size: 1;}
.txt-tab-sm {tab-size: 2;}
.txt-tab-md {tab-size: 3;}
.txt-tab-lg {tab-size: 4;}
.txt-tab-xl {tab-size: 5;}

.txt-w-space-normal  {white-space: normal;}
.txt-w-space-nowrap  {white-space: nowrap;}
.txt-w-space-pre     {white-space: pre;}
.txt-w-space-prewrap {white-space: pre-wrap;}
.txt-w-space-preline {white-space: pre-line;}
.txt-w-space-bspaces {white-space: break-spaces;}

.txt-w-break-normal   {word-break: normal;}
.txt-w-break-breakall {word-break: break-all;}
.txt-w-break-keepall  {word-break: keep-all;}
.txt-w-break-bword    {word-break: break-word;}