:root {
    --margin-xs: 5px;
    --margin-sm: 10px;
    --margin-md: 20px;
    --margin-lg: 40px;
    --margin-xl: 60px;
    
    --border-xs: 1px;
    --border-sm: 2px;
    --border-md: 3px;
    --border-lg: 4px;
    --border-xl: 5px;
    
    --border-radius-xs: 2px;
    --border-radius-sm: 4px;
    --border-radius-md: 6px;
    --border-radius-lg: 8px;
    --border-radius-xl: 10px;
    
    --padding-xs: 5px;
    --padding-sm: 10px;
    --padding-md: 20px;
    --padding-lg: 40px;
    --padding-xl: 60px;
    
    --outline-xs: 1px;
    --outline-sm: 2px;
    --outline-md: 3px;
    --outline-lg: 4px;
    --outline-xl: 5px;
    
    --outline-offset-xs: 1px;
    --outline-offset-sm: 2px;
    --outline-offset-md: 3px;
    --outline-offset-lg: 4px;
    --outline-offset-xl: 5px;

    --box-shadow-xs:   2px;
    --box-shadow-sm:   4px;
    --box-shadow-md:   6px;
    --box-shadow-lg:   8px;
    --box-shadow-xl:   10px;
    --box-shadow-blur: 2px;
    
    --gap-xs: 5px;
    --gap-sm: 10px;
    --gap-md: 15px;
    --gap-lg: 20px;
    --gap-xl: 25px;
    
    --font-size-xs: 12px;
    --font-size-sm: 16px;
    --font-size-md: 24px;
    --font-size-lg: 32px;
    --font-size-xl: 52px;

    --letter-spacing-xs: 5px;
    --letter-spacing-sm: 10px;
    --letter-spacing-md: 15px;
    --letter-spacing-lg: 20px;
    --letter-spacing-xl: 25px;
    
    --word-spacing-xs: 5px;
    --word-spacing-sm: 10px;
    --word-spacing-md: 15px;
    --word-spacing-lg: 20px;
    --word-spacing-xl: 25px;

    --text-shadow-xs:   0.5px;
    --text-shadow-sm:   1px;
    --text-shadow-md:   1.5px;
    --text-shadow-lg:   2px;
    --text-shadow-xl:   2.5px;
    --text-shadow-blur: 2px;

    --black:   #000000;
    --blue:    #0000ff;
    --brown:   #7f0000;
    --cyan:    #00ffff;
    --green:   #00ff00;
    --grey:    #7f7f7f;
    --magenta: #ff00ff;
    --orange:  #ff7f00;
    --pink:    #ff007f;
    --purple:  #7f007f;
    --red:     #ff0000;
    --salmon:  #ff7f7f;
    --slate:   #7f7fff;
    --white:   #ffffff;
    --yellow:  #ffff00;

    --dark-blue:  #00007f;
    --dark-cyan:  #007f7f;
    --dark-green: #007f00;
    --dark-grey:  #404040;

    --light-blue:   #007fff;
    --light-green:  #00ff7f;
    --light-grey:   #bfbfbf;
    --light-purple: #7f00ff;
    --light-yellow: #ffff7f;
}

@media screen and (min-width: 768px) {
    :root {
        --margin-xs: 10px;
        --margin-sm: 20px;
        --margin-md: 50px;
        --margin-lg: 80px;
        --margin-xl: 120px;

        --padding-xs: 5px;
        --padding-sm: 10px;
        --padding-md: 20px;
        --padding-lg: 50px;
        --padding-xl: 100px;
    }
}